$headerHeight: 88px;

.layout-main {
    &__header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: $headerHeight;
        background-color: #fff;
        z-index: 9;
    }
    &__content {
        background-color: #fcf6ee;
        margin-top: $headerHeight;
        padding: 40px 100px;
    }
    &__footer {
    }
}
